h1 {
    text-align: center;
    margin: auto;
}
div.display-container {
    width: 100%;
    height: 600px;
    border: solid, 1px, black;
    background-image: linear-gradient(180deg, red, yellow);  ;
}
div.form-container {
    width: auto;
    height:auto;
    border: dotted,1px,black;
    background-color: blanchedalmond;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
}